/* General Styling */
.ProductReview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 16%;
}

.product-container {
  display: flex;
  /* justify-content: space-between; */
  gap: 5%;
  width: 90%;

}

/* .Illustrationimg {
  flex: 1;
  text-align: center;

} */


.Illustrationtext {
  flex: 1;
  padding: 20px;
  text-align: left;
  width: 80%;
}

.Illustrationtext h1 {
  font-size: 4rem;
  color: #000;
  font-weight: bold;
}

.stock {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 3% 0;
}

.price {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.description {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  border-top: 1px solid #ccc;
  padding-top: 15px;
  width: 80%;
}

.Quantity {
  margin: 2% 0;
  color: #333;
  font-size: 1.2rem;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 3px;
  border: 1px solid #ccc;
  width: fit-content;
  padding: 2px;
  border-radius: 5px;
}


.quantity-input {
  width: 20px;
  text-align: center;
  border: none;
  font-size: 1.2rem;
}



.quantity-btn {
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;

}



.button-buy,
.share-btn {
  margin-top: 20px;
}

.button-buy .buy-now {
  display: inline-block;
  padding: 2% 0;
  width: 80%;
  text-align: center;
  background: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  border: none;
  background-color: #4C394F;
  cursor: pointer;
  font-size: 125%;

}
.button-buy:hover {

  font-weight: bold;
}
/* share */
.quantity-container {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #ccc;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.share-btn{
  /* background-color: #ccc; */
  cursor: pointer;
  padding: 5px;
}
.quantity-input {
  width: 30px;
  text-align: center;
  border: none;
  font-size: 16px;
}

/* product */
.product-details {
  width: 80%;
 
}

.section-details {
  border-bottom: 1px solid #ddd;
  padding: 2% 0;
  margin-top: 10px;
  font-size: 1.2rem;
  color: #555;
  line-height: 1.2;

}

.section:last-child {
  border-bottom: none;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.section-content {
  margin-top: 8px;
  color: black;
  font-size: 1.2rem;
  line-height: 1.5;
}



/* Sections-related */
.section-related {
  margin: 5% 0;
  width: 100%;
}

.section-related h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Card Layout */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin: 0 20%;
  gap: 30px;
}

.card {
  color: #000;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  text-align: left;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px #E4E3E3;
  /* border: 1px solid #ccc; */
}

.card-contents {
  padding: 20px;
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  /* border-radius: 8px; */
  transition: opacity 0.1s ease-in-out;
}

.card h3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 10px;
  padding: 2% 0;
}

.card p {
  font-size: 1rem;
  color: #444;
  padding: 2% 0;

}


/* related-button */
.home-icons {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 42%;

}

.buttons {
  width: 100%;
}

.buttons .buy-now {
  display: inline-block;
  padding: 7px 0;
  width: 100%;
  text-align: center;
  background: transparent;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: #4C394F;

}

.buy-now:hover {

  font-weight: bold;
}