.form-container-placeOrder {
  color: black;
  padding: 2%;
  border-radius: 3px;
  border: 1px solid black;
  max-width: 100%;
  box-shadow: 0px 4px 10px rgba(173, 169, 190, 0.9); 
  margin: 4% 18%;
}
 
.form-container-placeOrder h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom:  1% ;
  margin-top: 5%;
  text-align: center;
}

.input-field, .textarea-field, .file-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
}


.submit-btn {
  color: white;
  padding: 4px 20px;
  font-size: 1.3rem;
  background-color: #4C394F;
  border-radius: 5px;
  cursor: pointer;
  margin: 2% 18%;
  width: 70%;
  font-weight: 800;
 
}

.submit-btn:hover {
  font-weight: bold;
}
.image-input {
  padding: 5px 10px;
  border: 2px dashed rgb(65, 64, 64);
  border-radius: 8px;
  cursor: pointer;
}

.image-input input {
  display: none;
}

fieldset{
  padding: 3%;
  margin-bottom: 3%;
}
legend{
  padding: 2%;
}