.account-container {
  padding: 20px;
  margin: 0 15%;

}

.profile-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.user-name{
  display: flex;
  gap: 5%;
}
.arrow{
 
  font-size: 3rem;
  margin-left: 75%;
  font-weight: bold;

}

.user-icon-placeholder {
  background-color: rgba(208, 207, 229, 0.6)  ;
  padding: 0 2%;
  border-radius: 25%;
  font-size: 3rem;
  font-weight: bold;

}

.user-name h2 {
  font-size: 2.5rem;
  padding-top: 2%;
  
}

.titles{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 4% 0;

}
.titles p {
  text-decoration: none;
  font-size: 1.8rem;
  /* display: inline-block; */
}

.order-container{
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.order-name {
  font-size: 1.5rem;
  font-weight: bold;
}
.order-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.order-status {
  text-align: left;
}

.status-label {
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
}

.status-label.accepted {
  background-color: #28a745; 
  color: white;
}

.status-label.rejected {
  background-color: #dc3545; 
  color: white;
}

.status-label.pending {
  background-color: #ffc107; 
  color: black;
}

.payment-time{
  font-weight: bold;
}


/* .item-title {
  font-weight: bold;
  font-size: 1.8rem;
  color: #4c394f;
  margin-bottom: 5px;
} */

.delivery-section {
  width: 50%;
  text-align: left;
}

.delivery-section a {
  font-size: 1.2rem;
  margin-bottom: 5%;
  color: #4c394f;
}

.delivery-section p {
  margin: 2% 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.cancel-button {
  background-color: #d0cfe5;
  color: #4c394f;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition:  0.3s ;
  /* margin-top: 10px; */
}

.cancel-button:hover {
  background-color: #4c394f;
  color: #fff;
  font-weight: bold;
}


