form {
    background-color: rgba(218, 213, 237, 0.5);
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0px 10px 16px rgba(183, 180, 197, 0.9);
    text-align: center;
  
  }
    
  form h2 {
    margin-bottom: 20px; 
    text-align: left;
    font-size: 3rem;
  }
  
  form input {
    padding: 10px ;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .password-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  .password-container .icon {
    position: absolute;
    right: 4%;
    cursor: pointer;
    color: #444;
    font-size: 1.3rem;
  }
  
  
  form button {
    background-color: #4c394f;
    color: white;
    
    padding: 3px 45px;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top:2%;
  }
  
  form button:hover {
    font-weight: bold;
  }
  
  form .create-account {
   text-align: center;
    color: black;
    text-decoration: none;
    display: block;
    margin-top: 2%;
  }
  .forgot-password{
    color: black;
    display: block;
    text-align: left;
  }
  
  .form-logo img{
    margin-top: 1vw;
    justify-content: center;
  }
  .login-container p{
    font-size: 1.4rem;
  }
  .login-container{
    width: 45%;
    margin: 9% auto;
  }
  .signup-container{
    width: 45%;
    margin: 3% auto;
  }