.btns {
    display: grid;
    gap: 20px;
    justify-content: center;

}


.accept-btn,
.reject-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 150px;
}

.accept-btn {
    background-color: #4CAF50;
    color: white;
}


.reject-btn {
    background-color: #F44336;
    color: white;
}
.Shipped-btn { 
   background-color: #f48236;
  color: white;
}


.Delivered-btn {
  background-color: #3672f4;
  color: white;
}
.delivery-details {
    padding: 10px; 
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .delivery-details p {
    margin: 5px 0;
  }

  .status-accepted {
    color: green;
    
  }
  
  .status-rejected {
    color: red;
  }
  
  .status-shipped {
    color: yellow;
  }
  
  .status-delivered {
    color: green;
  }