/* Main Content */
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  
 
  
  
  .background-products{
    /* background-color: #f5f0fa; */
    width: 85vw;
    height: 37vw;
    margin-top: 0.8vw;
    margin-left: 0.8vw; 
  
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
  }
  
  .table-container {
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    overflow-x: auto;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 16px;
    text-align: left;
  }
  
  .user-table thead {
    /* background-color: #f5f0fa; */
    border-bottom: 2px solid #4C394F;
  }
  
  .user-table th,
  .user-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .user-table th {
    font-weight: bold;
    color: #4C394F;
    /* background-color: #DBD9E8; */
    border-color:#4C394F ;
    padding: 20px 20px;
  }
  .user-table td {
    border-color:#4C394F ;
    padding: 20px 0;
  }
  
  
  
  