
.profileContainer {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  max-width: 80%;
    padding-top: 80px;
  margin: 5% auto;
    color: rgb(245, 245, 245);
    border: 5px solid black;
    border-radius: 30px;
}





/* profile Content */
.contentprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    gap: 20px;
}

/* profile Info */
.infoprofile {
    text-align: center;
    color: black;
}

.infoprofile h1 {
    font-size: 24px;
    margin: 20px 0;
}


/* Buttons */
.buttonSave {
    background-color: #ffffff;
    color: black;
    /* padding: 15px 25px; */
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
    margin: 10px 0 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-size: 1.3rem;
}

/* Hover and Active Effects */
.buttonSave:hover {
   font-weight: bold;
    transform: scale(1.1);
}

.buttonSave:active {
    transform: scale(0.95);
}

/* Form Section */
.formInputs {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formGroup {
    position: relative;
    width: 100%;
}

/* Input Fields */
.formGroup input {
    width: 100%;
    padding: 15px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    font-size: 18px;
    transition: border-color 0.3s ease-in-out;
    padding-right: 50px; 
    font-weight: 700;
}

.formGroup input::placeholder {
    color: #aaa;
}

.formGroup input:focus {
    outline: none;
    border-color: #000000;
}

/* Edit Symbol */
.editSymbol {
    position: absolute;
    top: 50%;
    right: 20px; /* Adjusted for proper alignment */
    transform: translateY(-50%);
    color: black;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    font-weight: 500;
}

.editSymbol:hover {
    font-weight: bold;
}



.profileContainer{
    display: flex;
}
.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #ff3b30;
    transition: color 0.3s ease;
  }
  
  .closeButton:hover {
    color: #cc2a24;
  }
  