
.section {
    margin: 20px 0;
    padding: 20px;
    background-color: #f5f0fa;
    box-shadow: 0 2px 8px #BCB8CE(0, 0, 0, 0.1);
  }
  .section h1 , .Collections-section h1{
    font-size: 3rem;
    color: #4C394F;
    margin-bottom: 20px;
    margin-left: 25Vw;
  }
  .section h1:hover{
    transform: translateY(-5px);
  }
  .Collections-section{
    margin: 20px 0;
    padding: 20px;
    background-color: #f5f0fa;
    box-shadow: 0 2px 8px #BCB8CE(0, 0, 0, 0.1);
  }
  .Collections-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-left: 21vw;
    padding: 2vw;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 2vw;
    
  }
  
  .card {
    background-color: #f5f0fa;
    border: 1px solid #BCB8CE;
    border-radius: 8px;
    box-shadow: 0 2px 8px #BCB8CE(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .card h3 {
    font-size: 1.5rem;
    color: #4C394F;
    text-decoration: none;
  }
  .card{
    text-align: left;
  }
  .card p {
    font-size: 1.3rem;
    color: #4C394F;
   
  }
  .saleprice {
    background-color: #4c394f;
    color: white;
    font-weight: bold;
    padding:  5px 5px;
    border-radius: 5%;
    font-size: 1.2rem;
    width: 20%;
    margin-left: auto;
    text-align: center;
  }
  .viewDetails button {
    padding: 10px 20px;
    background-color: #4C394F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    margin-top: auto;
    margin-left: 43vw;
  }
  
  .viewDetails button:hover {
    background-color: #BCB8CE;
    color: #4C394F;
    font-weight: bold;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px #BCB8CE;
  }
  
  
  .faq {
    list-style: none;
    padding: 0;
    margin-left: 40vw;
    font-size: 1.3rem;
  }
  
  .faqh1{
    background-color: #DBD9E8;
    max-width: 20%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 38vw;
    text-align: center;
  }
  .faq li {
    margin: 10px 0;
  }
  
  .faq li span {
    font-weight: 600;
    cursor: pointer;
    display: block;
  }
  
  .faq li div {
    display: none;
    margin-top: 5px;
    color: #555;
  }
  
  .faq li.open div {
    display: block;
  }
  
  .faq li span:hover {
    text-decoration: underline;
  
  }


  .home-icons{
    display: flex;
    justify-content: space-between;
    
  }
  .buy-now {
    padding: 6px 11px;
    background-color: #4C394F;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    
  }
  
  .buy-now:hover {
    background-color: #BCB8CE;
    color: #4C394F;
    font-weight: bold;
  }
  