footer {
  padding: 1rem 0;
  background-color: #BCB8CE;
  
}
.footer{
  margin: 0 6%; 
}
.footer-link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 30px;
  /* margin: 0 5%;  */

}

.footer-link a {
  color: #333;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0.3rem 0;
  transition: color 0.3s ease;
  display: block;
}
.Our-mission h2, .FAQ h2 {
  margin-left: 20%;
  font-size: 2rem;
}
.info h2{
  margin-left: 5%;
  font-size: 2rem;
  color: black;

}
/* 
.FAQ h2{
  margin-left: 20%;
} */
 .FAQ, .Our-mission, .info{
  color: black;
  font-size: 1.4rem;
  transition: color 0.3s ease;
  display: block;
  text-align: justify;
  /* max-width: 40%; */
 }

 .FAQ li, .Our-mission p, .info {
  color: #333;
  padding: 0.4rem 0;
  margin: 0 20%;
 }

 .footer-bottom{
  margin-top: 4% ;
  padding: 2% 0;
  border-top: 1px solid #9a97a5;
  color: #333;
  text-align: center;
  font-size: 1rem ;
 }

 .social-icons {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-right: 35%;
  
}

.icon {
  color: black;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  
}
.icon:hover {
  opacity: 0.7;
  
}
 
@media (max-width: 768px) {
  .footer-link {
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
  }
  
  .footer-logo {
    width: 40%;
  }
}