.tracking-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  margin: 5% 18%;
}

.tracking-status {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tracking-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  position: relative;
}

.tracking-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Tracking icons */
.tracking-icon {
  width: 50px;
  height: 50px;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.tracking-step.active .tracking-icon {
  background-color: green;
  color: white;
}


.tracking-line {
  width:452%;
  height: 5px;
  background: #e0e0e0;
  position: absolute;
  top: 25px;
  left: 300%;
 
  transform: translateX(-50%);
}

.filled {
  background: green;
}

.active .icon {
  background: green;
  color: white;
}

.step-label {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.tracking-step.active .tracking-icon {
  color: rgb(226, 236, 226);
}

.tracking-line.filled {
  background-color: rgb(1, 139, 1);
  color: white;
}
.close-button {
  position: absolute;
  /* top: 10px;
  right: 10px; */
  /* margin-bottom:30% ; */
  margin-left: 60%;
  cursor: pointer;
    color: #ff3b30;
    transition: color 0.3s ease;
    border: #ff3b30;
    background-color: white;
    border-radius: 100%;
    
}

.close-button:hover {
  color: #cc2a24;
}


@media (max-width: 768px) {
  .tracking-container {
    flex-direction: column;
    align-items: center;
  }
  .tracking-line {
    width: 5px;
    height: 50px;
    left: auto;
    top: auto;
    transform: translateY(-50%);
  }
}
