
.main-content { 
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #000;
}

.NavbarAdmin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 80%;
  margin: 1% auto;
}


.Navbar-links{
  background-color: none;
  
}
.Navbar-links ul {
  display: flex;
  list-style: none;
  border-left: 2px solid #000;
  padding: 0 1rem;
  letter-spacing: 2px;
  
  
}

.Navbar-links li {
  border-right: 2px solid #000;
  margin: 0 1rem;
  cursor: pointer;
  background-color: none;
  font-size: 2rem;
  padding: 0 1rem;
}

.content {
  flex: 1;
  /* padding: 1rem; */
}

.analytics {
  margin: 5%;
}

.analytics-cards {
  display: flex;
  gap: 1rem;
}

.analytics-card {
  flex: 1;
  padding: 1rem;
  background-color: #BCB8CE;
  border-radius: 4px;
  text-align: center;
  color: #000;
  font-size: 2rem;
}
.analytics h1 {
  margin: 2% 0;
}