
/* Main Content */
.main-content-Product {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  max-width: 90%;
}

/* Table Styling */
.table-container {
  margin-top: 20px;
  height: 65vh;
  
  overflow-y: auto;
}



.product-table {
 border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  padding: 0 5%;

  
}


.product-table td {
  padding: 15px;
  border-right: 2px solid #ccc;
  border-left:2px solid #ccc; 
  font-size: 1.3rem;

}

.product-table th {
  background-color: #BCB8CE;
  color: black;
  padding: 20px ;
  font-size: 1.5rem;
  position: sticky;
  z-index: 10000;
  top: 0;
}

.product-table td:hover {
  font-weight: 600;
  
}

.product-table td img {
  width: 90px;
  height: 90px;
  border-radius: 4px;
  object-fit: cover;
}

.product-table td button {
  padding: 5px 12px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius:3px ;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.product-table td button:hover {
  font-weight: bold;
}

/* Update Product Form */
.update-product{
  overflow-y: auto;

}
.update-product-form {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  margin: 2% auto;
  border: 2px solid black;
}

.update-product-form h2 {
  margin-bottom: 20px;
  
}

.update-product-form label {
  display: block;
  margin: 1% 0; 

  color: #444;
}

.update-product-form input,
.update-product-form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.update-product-form button {
  padding: 10px 20px;
  background-color: #4C394F;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

/* View Details Button */
.AddProduct button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-left: 70vw;
}

