/* Main Content */
.main-content-Product {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  max-width: 90%;
  min-height: 100vh; 
}

/* Table Styling */
.table-container {
  margin-top: 20px;
  overflow-y: auto;
  flex-grow: 1; /* Allow the table container to grow and take available space */
}

.product-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px; 

}

.product-table th,
.product-table td {
  padding: 15px;
  text-align: left;
}

.product-table th {
  background-color: #4c394f;
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
  position: sticky;
  top: 0;
  z-index: 1000;

}

.product-table tr {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(155, 154, 154, 0.5);
  transition: box-shadow 0.3s ease;
 
}

.product-table tr:hover {
  box-shadow: 0 4px 8px rgba(155, 154, 154, 0.8);
  
 

}

.product-table td {
  font-size: 1.1rem;
  color: #333;
}

.product-table td img {
  width: 90px;
  height: 90px;
  border-radius: 4px;
  object-fit: cover;
}

.product-table td button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.product-table td button:hover {
  transform: scale(1.05);
}

.edit-btn {
  background-color: #FFC107; /* Yellow */
  color: black;
}

.edit-btn:hover {
  background-color: #E0A800;
}

.delete-btn {
  background-color: #F44336; /* Red */
  color: white;
}

.delete-btn:hover {
  background-color: #D32F2F;
}

/* Update Product Form */
.update-product {
  overflow-y: auto;
}

.update-product-form {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  margin: 2% auto;
  border: 2px solid black;
}

.update-product-form h2 {
  margin-bottom: 20px;
}

.update-product-form label {
  display: block;
  margin: 1% 0;
  color: #444;
}

.update-product-form input,
.update-product-form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.update-product-form button {
  padding: 10px 20px;
  background-color: #4C394F;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

/* Add Product Button */
.AddProduct button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-left: 70vw;
  background-color: #4C394F;
  color: white;
  font-weight: 800;
}

