body {
    margin: 0;
    padding: 0;    font-family: 'poppins';
    background-color: #DBD9E8;
    color: #4C394F;
    height: 100vh; 
  }
  
  
  /* Sidebar */
  .sidebar {
    width: 300px;
    height: 500px;
    background-color: #f5f0fa;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
  
  }
  
  .sidebar h1 {
    font-size: 24px;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style: none;
  }
  
  .sidebar ul li {
    padding: 15px 20px;
    cursor: pointer;
    font-size: 2rem;
  }
  
  .sidebar ul li:hover {
    background-color: #DBD9E8;
    font-weight: bold;
  }
  
  /* Admin Footer */
  .sidebar .admin-footer {
    margin-top: auto;
    padding: 15px 20px;
    border-top: 1px solid #ddd;
  }
  /* Main Content */
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  .topbar-logo img{
    border-radius: 48%;
    margin: 1%;
    margin-left: 10vw;
  }
  .top-bar {
    background-color: #f5f0fa;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .top-bar input[type="search"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10vw;
  }
  .home{
    display: flex;
    justify-content: space-between;
  
  }
  .background{
    background-color: #f5f0fa;
    width: 85vw;
    height: 23.1vw;
    margin-top: 0.8vw;
    margin-left: 0.8vw;
  
    flex: 1;
    padding: 20px;
    border-radius: 10px;
  }
  
  
  .background-products{
    background-color: #f5f0fa;
    width: 85vw;
    height: 37vw;
    margin-top: 0.8vw;
    margin-left: 0.8vw;
  
    flex: 1;
    padding: 20px;
    border-radius: 10px;
  }
  .viewDetails button {
    padding: 10px 20px;
    background-color: #4C394F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-left: 43vw;
  }
  
  .viewDetails button:hover {
    background-color: #BCB8CE;
    color: #4C394F;
    font-weight: bold;
  }
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 20%;
    width: 50%;
    margin-top: 0;
    padding: 0;
  
    
  }
  
  .product {
    background-color: #f5f0fa;
    border: 1px solid #BCB8CE;
    border-radius: 8px;
    box-shadow: 0 4px 8px #BCB8CE;
    text-align: center;
    padding-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px #BCB8CE;
  }
  
  .product img {
  
    width: 3vw;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .product h3 {
    font-size: 1.5rem;
    color: #4C394F;
    margin-bottom: 10px;
  }
  
  .product p {
    font-size: 1.3rem;
    color: #4C394F;
    margin-bottom: 10px;
  }